body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
}

.about-company {
    display: flex;
    justify-content: space-between;
    gap: 20vw;
    align-items: flex-start;
    padding: 50px;
    background-image: url('./background_2.png'); 
    background-size: cover; 
    background-position: center; 
    color: white; 
    position: relative; 
}

.about-company::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.about-company-text, .about-company-stats {
    z-index: 2; 
}

.about-company-text {
    margin-left: 10vw;
    margin-top: 23vh;
    width: 55vw; 
}
.about-company-text h1 {
    font-size: 2.4em;
    margin-bottom: 20px;
    color: #FF9505;
}
.about-company-text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #FFFBFB;
}

.about-company-stats {
    width: 40vw; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat {
    text-align: center; 
    width: 270px;
}

.stat h2 {
    color: #FF9505;
    font-size: 2em;
    opacity: 80%;
}

.stat h3 {
    color: #FFFBFB;
    font-size: 1.5em;
    opacity: 75%;
}

.stat p {
    color: #FFFBFB;
    font-size: 1em;
    line-height: 1.4;
    opacity:60%;
}

@media (max-width: 840px) {
    .about-company {
      flex-direction: column; 
      gap: 70px; 
    }

    .about-company-text {
        width: 100%; 
        margin-left: 0px;
        margin-top: 0px;
    }

    .about-company-text p{
        font-size: 0.9em;
        white-space: pre-wrap;
    }

    .about-company-text h1{
        font-size: 2em;
        text-align: center;
    }

    .about-company-stats {
        width: 100%;
    }

    .stat {
        text-align: center; 
        width: 100%;
    }

    .stat h2 {
        font-size: 2em;
    }

    .stat h3 {
        font-size: 1.5em;
    }

    .stat p {
        font-size: 1em;
        line-height: 1.4;
    }
}
