.RealtyCard {
    background-color: #555;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 565px;
    width: 100%;
    height: 582px;
    transition: transform 0.3s ease;
    background-color: #2C2B2B; 
}

.RealtyCard:hover {
    transform: translateY(-10px);
}

.realty-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}
.card-content p {
    margin: 5px 0;
    font-size: 1em;
    color:white ;
}

.location {
    display: flex;
}

.location-text{
    font-size: 16px;
    color: #FFFBFB;
    opacity: 70%;
    padding-top: 8px;
}

.details{
    margin-top: 15px;
    max-width: 535px;
    width: 100%;
    height: 42px;
    border: 2px solid #9e9e9e;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.bedrooms{
    width: 33%;
    display: flex;
    border-right: 2px solid #9e9e9e;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2px;
}

.bath{
    width: 33%;
    display: flex;
    border-right: 2px solid #9e9e9e;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2px;
}

.square{
    width: 33%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.details-icon{
    width: 16px;
    height: 16px;
}

.details-text{
    width: auto;
    color: #FFFBFB;
    opacity: 65%;
    align-items: center;
    text-wrap: nowrap;
}

@media (max-width: 480px){
    .RealtyCard {
        background-color: #555;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        max-width: 565px;
        width: 100%;
        height: 623px;
        transition: transform 0.3s ease;
        background-color: #2C2B2B;
        
    }
    
    .details{
        height: 90px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .bedrooms{
        height: 33%;
        width: 100%;
        border-bottom: 2px solid #9e9e9e;
    }
    
    .bath{
        height: 33%;
        width: 100%;
        border-bottom: 2px solid #9e9e9e;
    }
    
    .square{
        height: 33%;
        width: 100%;
    }
}