.header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}
    
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    gap: 50px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
  
.overlay {
    color: white;
    font-size: 60px;
    width: 100%; 
    text-align: left; 
    max-width: 780px; 
    font-weight: bold;
}
  
.spec_yel {
    color: #FF9505; 
}
  
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачная тень */
    z-index: 0;
}
  
@media (max-width: 840px) {
.header-content {
    flex-direction: column; 
    gap: 70px; 
}
  
.overlay {
    text-align: center; 
    margin-top: 80px;
    font-size: 42px;
}

.header {
    height: 150vh;
}
}