.carousel {
    position: relative;
}
  
.carousel-inner {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
  
.carousel-item {
    width: 100%;
    display: none;
    background: white;
    transition: transform 0.5s ease;
    border-radius: 15px;
}
  
.carousel-item.active {
    display: flex;
    flex-direction: row;
    padding: 40px;
}
  
.client-photo {
    min-width: 120px;
    height: 100%;
    text-align: center;
}
  
.client-photo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
  
.review-content {
    text-align: left;
}

.review-content h3{
    text-align: left;
    color: black;
    opacity: 70%;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
  
.review-text {
    font-style: italic;
    line-height: 1.6;
    color: #555;
    font-size: 20px;
}
  
.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
 }
  
.carousel-control-prev, .carousel-control-next {
    background: #FF9505;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
 }
  
.carousel-control-prev:hover, .carousel-control-next:hover {
    background: #FF9505;
}
  
.carousel-indicators {
    display: flex;
    gap: 10px;
}
  
.indicator {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #ddd;
    cursor: pointer;
}
  
.indicator.active {
    background: #FF9505;
}

.icon-review{
    height: 16px;
    width: 16px;
}