body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
}

.button-section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px;
    background-color: #1B1B1B;
 }
  
.more-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

.view-text{
    font-size: 14px;
    color: #FFFBFB;
    margin-bottom: 30px;
}

.filter-button {
    padding: 10px 20px; 
    font-size: 16px;
    color: #FFFBFB;
    background-color: #1B1B1B;; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
 }
  
.filter-button.active {
    color: #FF9505; 
    border-color: #FF9505; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.more-button{
    background: transparent; 
    border: none;
    padding: 0;
    cursor: pointer; 
}

.more-button:hover img {
    opacity: 0.8; 
}

.more-button:active img {
    opacity: 0.6; 
}